<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sistema Aula</title>
    <!-- <link rel="stylesheet" href="css/main.css" /> -->
    <!-- <link rel="icon" href="img/favicon.png" /> -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>

  <body>
    <br/>
    <br/>
    <br/>
    <br/>
    <!-- <script charset="utf-8" src="js/scripts.js"></script> -->

<div id="g_id_onload"
     data-client_id="880330157243-dt16tsgb3famlqsp149kt986cp59j6j9.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="redirect"
     data-login_uri="http://localhost:2023/login"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-locale="es-419"
     data-logo_alignment="left">
</div>

  </body>
</html>
